/Database/Lab05/Lab05/nbproject/private/
/Database/Lab05/Lab05/build/
/Database/Lab06/lab06/nbproject/private/
/Database/Lab06/lab06/build/
/Assignment/DS/rmi-examples/RMIServer/nbproject/private/
/Assignment/DS/rmi-examples/RMIClient/nbproject/private/
/Assignment/DS/rmi-examples/RMIServer/build/
/Assignment/DS/rmi-examples/RMIServer/dist/
/Assignment/DS/rmi-examples/RMIClient/build/